<%= stylesheet_link_tag "home", media: "all", "data-turbolinks-track" => true %>
<div class="container" id="index-cont">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to CollaborAid!</h1>
    </div>
  </div>
  <div class="row map-row">
    <div class="col-md-12">
      <div id="map"></div>
    </div>
  </div>
</div>
<%= javascript_tag do %>
  var MAP_URL = '<%= APP_CONFIG["mapbox"] %>';
  // The GeoJSON representing the two point features
  var geoJson = {
      type: 'FeatureCollection',
      features: [
      <% @projects.to_enum.with_index.each do |proj, i| %>
      <%= i==0 ? '' : ','%>{
          type: 'Feature',
          properties: {
              title: '<h1><%= proj.name %></h1>',
              description: '<p><%= proj.description %></p><%= link_to 'Details', proj %>',
              'marker-color': '#f00',
              'marker-size': 'large',
          },
          geometry: {
              type: 'Point',
              coordinates: <%= proj.location %>
          }
      }
      <% end %>
      ]
  };
<% end %>
<%= javascript_include_tag "home", "data-turbolinks-track" => true %>
