<%= form_for @project, html: {class: 'container', id: 'projects-cont'} do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-12">
      <%= f.label :name, "Project Name" %>
      <%= f.text_field :name, :required => true %><br/>
      <%= f.label :cname, "Contact Name" %>
      <%= f.text_field :cname, :required => true %><br/>
      <%= f.label :cemail, "Contact Email" %>
      <%= f.text_field :cemail, :required => true %><br/>
      <%= f.label :descripts, "Small Description" %>
      <%= f.text_area :descripts, :required => true %><br/>
      <%= f.label :description %>
      <%= f.text_area :description, :required => true %><br/>
      <%= f.label :sectors, "Project Sectors" %>
      <%= f.text_field :sectors, :required => true %><br/>
      <%= f.label :oversee, "Overseeing Organization" %>
      <%= f.text_field :oversee, :required => true %><br/>
      <%= f.label :bens, "Primary Beneficiaries" %>
      <%= f.text_field :bens, :required => true %><br/>
      <%= f.label :funders, "Funding Affiliations" %>
      <%= f.text_field :funders, :required => true %><br/>
      <%= f.label :location %>
      <%= f.text_field :location, :required => true %><br/>
      <%= f.label :locname, "Name of Location" %>
      <%= f.text_field :locname, :required => true %><br/>
      <%= f.label :initdate, "Start Date" %>
      <%= f.text_field :initdate, :required => true %><br/>
      <%= f.label :enddate, "Expected Completion Date" %>
      <%= f.text_field :enddate, :required => true %><br/>
      <%= f.submit %>
    </div>
  </div>
<% end %>
