<div class="container" id="projects-cont">
  <div class="row">
    <div class="col-md-12">
      <h1 class="plain">All Projects</h1>
    </div>
  </div>
  <% @projects.each do |project| %>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= link_to project do %>
        <h2 style="display:inline-block"><%= project.name %></h2>
        <span style="width:2em;display:inline-block"></span>Details
      <% end %>
      <% if current_user && current_user.is_admin? %>
        &bull; <%= link_to 'Edit', edit_project_path(project) %> &bull;
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <br><%= project.descripts %>
    </div>
  </div>
  <% end %>
  <% if current_user && current_user.is_admin? %>
    <div class="row">
      <div class="col-xs-12">
        <%= link_to 'New Project', new_project_path %>
      </div>
    </div>
  <% end %>
</div>