<div class="container" id="show-project-cont">
  <div class="row-fluid">
    <div class="span12">
      <h1><%= @project.name %></h1>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <h2>Description:</h2>
    </div>
    <div class="span10">
      <p><%= @project.description %></p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <h2>Primary Sector:</h2>
    </div>
    <div class="span4">
      <p><%= @project.psector %></p>
    </div>
    <div class="span2">
      <h2>Additional Sectors:</h2>
    </div>
    <div class="span4">
      <p><%= @project.asectors.join ", " %></p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <h2>Overseeing Organization:</h2>
    </div>
    <div class="span2">
      <p><%= @project.oversee %></p>
    </div>
    <div class="span2">
      <h2>Primary Beneficiaries:</h2>
    </div>
    <div class="span2">
      <p><%= @project.bens.join ", " %></p>
    </div>
    <div class="span2">
      <h2>Funding Affiliation:</h2>
    </div>
    <div class="span2">
      <p><%= @project.funders.join ", " %></p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <h2>Start Date:</h2>
    </div>
    <div class="span2">
      <p><%= @project.initdate.to_s %></p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <%= link_to 'Edit', edit_project_path(@project) %>
    </div>
    <div class="span2">
      <%= link_to 'Back', projects_path %>
    </div>
  </div>
</div>
