<%# add navigation links to this file %>
<li><%= link_to 'All Projects', projects_path, style: 'font-weight:900' %></li>
<li><%= link_to 'About', '/about', style: 'font-weight:900' %></li>
<li><%= link_to 'Contact', '/contact', style: 'font-weight:900' %></li>
<li><%= link_to 'Add Your Project', '/addproject', style: 'font-weight:900' %></li>
<% if user_signed_in? %>
  <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete, style: 'font-weight:900' %></li>
<% elsif false %>
  <li><%= link_to 'Login', new_user_session_path, style: 'font-weight:900' %></li>
<% end %>