<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "CollaborAid" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Collaboraid - Collaborate on aid in Syria." %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <% if false && user_signed_in? %>
        <div role="other">
          <%= 'Hello ' + current_user.email %>
        </div>
      <% end %>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>
  </body>
</html>
